.searchbar--container {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  .searchbar--input {
    background: none;
    background-color: transparent;
    border: 5px solid $softRed;
    border-radius: 3px;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    outline: none;
    width: 25rem;
    @extend %inputStyle;

    &.cat {
      @extend %inputStyle;
      font-family: $accentFont;
    }
  }

  .searchbar--flavor-text {
    font-size: 3rem;
    margin-top: 15px;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  color: lighten(#000, 35%);
  font-family: $headerFont;
}
